<!DOCTYPE html>
<html id='indexhtmlerb'>

<head>
  <p style="color: green"><%= notice %></p>
  <div class='container mt-10'>
    <h1 class='merriweather-bold' style='color: #006747;'>Your Scheduled Tasks</h1>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  </div>
</head>

<body>
  <ol class='merriweather-bold-italic'>
    <button id='first'><%= link_to "Add New Task", new_task_path %></button>
    <button id='second'><%= link_to "Back to Your Calendar", root_path%></button>
  </ol>

  <div class="task-grid">
    <% if @tasks.empty? %>
      <p style='margin-left: 5.7pc; font-family: "Merriweather", serif;font-weight: 400; font-style: normal;'>There is currently no task (left).</p>
    <% else %>
      <% @tasks.each_slice(3) do |task_group| %>
        <div class="task-column">
          <% task_group.each do |task| %>
            <li class='merriweather-regular'>
              <%= render task %>
              <p class='merriweather-light-italic' style='color: #006747;'>
                <div id='showthistask'><%= link_to "Show This Task", task %></div>
              </p>
            </li>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</body>

</html>
